footer#colophon.site-footer(role='contentinfo')
    .footer-wrapper.container
      .row
        .sidebar.footer-sidebar.clearfix
          .col-lg-3.col-sm-3.col-md-3.widget-1.footer-widget.first.footer-widget
            #meta.widget.widget_meta
              h3.widget-title About
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
          .col-lg-3.col-sm-3.col-md-3.widget-1.footer-widget.footer-widget
            #tweet.widget.widget_tweet
              h3.widget-title Forrest
              p Lorem
              a(href='#') http://t.co/53F0rRe5T 
                a(href='#') @forrest
              p
                span
                  a(href='#') 2 days ago
          .col-lg-3.col-sm-3.col-md-3.widget-1.footer-widget.footer-widget
            #newsletter-wrap.widget.widget_get_touch
              h3.widget-title Newsletter
              p If you wish to get updates from Forrest, you can sign up to the newsletter. 
              form#subscribe_form(novalidate='', name='cc-embedded-subscribe-form', method='post', action='#')
                input#mce-EMAIL.subs_input(type='text', required='required', placeholder='your@email.com', name='EMAIL', value='')
                input.subs_submit(type='submit', value='Submit', name='subscribe')
          .col-lg-3.col-sm-3.col-md-3.widget-1.footer-widget.last.footer-widget
            #get_touch.widget.widget_get_touch
              h3.widget-title Contact
              p
                span Address:
                | 11 Sixth Ave, Portsmouth PO6 3PD, United Kingdom
              p
                span Phone:
                | +44 (845) 345-8765
              p
                span Email:
                a(href='mailto:hello@weareforrest.com') hello@weareforrest.com
              ul.footer-tweet
                li.facebook
                  a(href='#')
                    i.fa.fa-facebook
                li.google-plus
                  a(href='#')
                    i.fa.fa-google-plus
                li.twitter
                  a(href='#')
                    i.fa.fa-twitter
                li.pinterest
                  a(href='#')
                    i.fa.fa-pinterest