doctype html
html(ng-app='mean-template' lang='en-US')
head
    meta(charset='UTF-8')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1')
    title Forrest - Bootstrap Multipurpose Template
    //if lt IE 7 
    //if IE 7 
    //if IE 8 
    //if IE 9 
    link(rel='shortcut icon', href='#', title='Favicon')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='assets/css/layerslider.css')
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='assets/css/layout.css')
    link(rel='stylesheet', href='assets/css/font-awesome.css')
    link(rel='stylesheet', href='assets/css/magnific-popup.css')
    //pe icon 7 filled
    link(rel='stylesheet', href='assets/css/pe-icon-7-stroke.css')
    link(rel='stylesheet', href='assets/css/pe-icon-7-filled.css')
    //bootstrap 
    link(rel='stylesheet', href='assets/css/grid.css')
    link(rel='stylesheet', href='assets/css/responsive.css')
    //flexslider 
    link(rel='stylesheet', href='assets/css/flexslider.css')
    //anamations effect
    link(rel='stylesheet', href='assets/css/animations.min.css')
    //Portfolio style 
    link(rel='stylesheet', href='assets/css/style-portfolio.css')
    //Browser Specical File
    //if IE 8
      link(href='assets/css/ie8.css', rel='stylesheet', type='text/css')
    //if lt IE 9
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
  body

    #page.hfeed.site
        include ./nav.jade
        #ng-content(ng-view)
        include ./footer.jade

    //PROJECT DEPENDENCIES FOR BANDMADE
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/vendor/angular/angular.js')
    script(src='/vendor/angular-route/angular-route.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.js')
    script(src='/vendor/underscore/underscore.js')
    script(src='/vendor/toastr/toastr.js')
    script(src='/vendor/localforage/dist/localforage.js')
    script(src='/vendor/angular-localforage/dist/angular-localForage.js')
    script(src='/config/toastr.js')
    script(src='/index.js')
    script(src='/nav.js')
    script(src='/views/home/home.js')
    script(src='/views/register/register.js')
    script(src='/views/login/login.js')
    script(src='/views/logout/logout.js')
    script(src='/components/factories/home.js')
    script(src='/components/factories/user.js')
    script(src='/components/factories/http-interceptor.js')


    script(src='assets/js/jquery.modernizr.js')
    script(src='assets/js/ddsmoothmenu.js')
    script(src='assets/js/jquery.isotope.min.js')

    //THIS WAS MOVED INTO HOME.JADE
    //script(src='assets/js/jquery-easing-1.3.js')
    //script(src='assets/js/greensock.js')
    //script(src='assets/js/layerslider.kreaturamedia.jquery.js')
    //script(src='assets/js/layerslider-animate.js')
    script.
      /* <![CDATA[ */
      var FS = {"animation":"slide","pauseOnHover":"true","controlNav":"true","directionNav":"false","animationDuration":"500","slideshowSpeed":"5000","pauseOnAction":"false"};
      /* ]]> */
    //Portfolio 
    script(type='text/javascript', src='assets/js/jquery.flexverticalcenter.js')
    script(type='text/javascript', src='assets/js/jquery.stellar.min.js')
    script(type='text/javascript', src='assets/js/jquery.mixitup.min.js')
    script(type='text/javascript', src='assets/js/app.js')
    //Flexslider 
    script(src='assets/js/jquery.flexslider.js')
    script(src='assets/js/jquery.carouFredSel-6.2.1-min.js')
    script(src='assets/js/jquery.countTo.js')
    //aminations
    script(src='assets/js/viewportchecker.js')
    script(src='assets/js/animations.min.js')
    script(src='assets/js/appear.min.js')
    //countTo 
    script(src='assets/js/jquery.countTo.js')
    //menu 
    script(src='assets/js/hoverIntent.js')
    script(src='assets/js/superfish.js')
    //HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    //if lt IE 9
      script(src='assets/js/html5.js')
      script(src='assets/js/respond.min.js')

    //THIS WAS MOVED INTO HOME.JADE
    //script(src='assets/js/custom.js')

