.content-wrapper
  #content.site-content
    section#slide-show
      #frr-slider.wrapper-coca-slide.container-fluid
        .frr-slider-outer-wrapper.row
          .main_slider
            #layerslider
              //layer slider starts
              .ls-layer(style='slidedirection: top; slidedelay: 6000; durationin: 1500; durationout: 1500; delayout: 500;')
                img.ls-bg(src='assets/images/slide_01.jpg', alt='')
                h1.ls-s3.ls_large_text_01(style='position: absolute; top: 150px; left: 20px; slidedirection: top; slideoutdirection: top; durationin: 3000; durationout: 750; easingin: easeInOutQuint; easingout: easeInBack; delayin: 1000;')
                  | WELCOME TO
                  br
                  | FORREST
                h4.ls-s3.l1-s1.ls_large_text_02(style='position: absolute; top: 260px; left: 20px; slidedirection: bottom; slideoutdirection: bottom; durationin: 3000; durationout: 750; easingin: easeInOutQuint; easingout: easeInBack; delayin: 1000;') This is what you've been looking for.
                a.button.huge.color.round.ls-s8(href='#', style='position: absolute; top: 320px; left: 20px; slidedirection: bottom; slideoutdirection: bottom; durationin: 3000; durationout: 750; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 1100;') Features
              .ls-layer.center(style='slidedirection: bottom; slideoutdirection: left; slidedelay: 5000; durationin: 1500; durationout: 1500; delayout: 500;')
                img.ls-bg(src='assets/images/slide_02.jpg', alt='')
                h1.ls-s3.ls_large_text_01(style='position: absolute; top: 217px; left: 400px; slidedirection: top; slideoutdirection: top; durationin: 3000; durationout: 750; easingin: easeInOutQuint; easingout: easeInBack; delayin: 600;') FORREST IS... DIFFERENT.
                h4.ls-s3.l1-s1.ls_large_text_02(style='position: absolute; top: 296px; left: 400px; slidedirection: bottom; slideoutdirection: bottom; durationin: 3000; durationout: 750; easingin: easeInOutQuint; easingout: easeInBack; delayin: 700;') We offer unlimited support with the best team around.
                .ls-s3.center-button(style='position: absolute; top: 366px; left: 20px; slidedirection: bottom; slideoutdirection: bottom; durationin: 3000; durationout: 750; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 1100;')
                  a.button.huge.white.round.ls-s8(href='#') The Team
              .ls-layer(style='slidedirection: right; slidedelay: 5000; durationin: 1500; durationout: 1500;')
                img.ls-bg(src='assets/images/slide_03.jpg', alt='')
                h1.ls-s3.ls_large_text_01(style='position: absolute; font-family: Arial; top: 192px; left: 0px; slidedirection: right; slideoutdirection: left; durationin: 3000; durationout: 750; easingin: easeInOutQuint; easingout: easeInBack; delayin: 400;')
                  | WE ARE HERE TO
                  br
                  | HELP YOU
                h4.ls-s3.l1-s1.ls_large_text_02(style='position: absolute; top: 308px; left: 0px; border-color: #fff; slidedirection: bottom; slideoutdirection: left; durationin: 3000; durationout: 750; easingin: easeInOutQuint; easingout: easeInBack; delayin: 500;') Don't worry, you won't get lost.
                a.button.huge.color.round.ls-s18(href='#', style='position: absolute; top: 368px; left: 0px; slidedirection: bottom; slideoutdirection: bottom; durationin: 3000; durationout: 750; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0;') Our Works
            //layer slider ends
      // END #frr-slider 
    section#frr-our-services.white
      .top-intro.scissors
        h4.section-title Our Services
        p.section-intro
          | Veniam adipisicing cupidatat dolor do adipisicing ipsum lorem modo.
          br
          | Reprehenderit minim blandit quam pulvinar vulputate.
      #frr-our-services.container
        .row
          .col-lg-3.col-md-6.col-sm-12.frr_fade.float
            article#post-68.post.type-post
              .featured-image.ico-type
                span.pe-7s-monitor
              header.entry-header
                h3.entry-title
                  a(rel='bookmark', href='#') Web Design
              .entry-excerpt
                | Lorem ipsum reprehenderit minim in cillum exercitation labore quis.
              .entry-more
                a.frr_readmore(href='#') Read More →
          .col-lg-3.col-md-6.col-sm-12.frr_fade.float
            article#post-69.post.type-post
              .featured-image.ico-type
                span.pe-7s-phone
              header.entry-header
                h3.entry-title
                  a(rel='bookmark', href='#') App Development
              .entry-excerpt
                | Lorem ipsum reprehenderit minim in cillum exercitation labore quis.
              .entry-more
                a.frr_readmore(href='#') Read More →
          .col-lg-3.col-md-6.col-sm-12.frr_fade.float
            article#post-70.post.type-post
              .featured-image.ico-type
                span.pe-7s-graph2
              header.entry-header
                h3.entry-title
                  a(rel='bookmark', href='#') Internet Marketing
              .entry-excerpt
                | Lorem ipsum reprehenderit minim in cillum exercitation labore quis.
              .entry-more
                a.frr_readmore(href='#') Read More →
          .col-lg-3.col-md-6.col-sm-12.frr_fade.float
            article#post-71.post.type-post
              .featured-image.ico-type
                span.pe-7s-pen
              header.entry-header
                h3.entry-title
                  a(rel='bookmark', href='#') Graphic Design
              .entry-excerpt
                | Lorem ipsum reprehenderit minim in cillum exercitation labore quis.
              .entry-more
                a.frr_readmore(href='#') Read More →
    section#frr-three-cols.bg-01
      #frr-three-cols-wrap.container
        .row
          .col-lg-4.col-md-12.col-sm-12.frr_fade
            .frr-three-item.box1
              .happily-item-content
                h4.frr-three-title We Deliver
                p
                  | Lorem ipsum reprehenderit minim in cillum exercitation labore quis velit occaecat tempor in nisi ullamco tempor.
                //
                   <a href="#" class="frr_readmore">Details →</a> 
          .col-lg-4.col-md-12.col-sm-12.frr_fade
            .frr-three-item.gleam
              .happily-item-content
                h4.frr-three-title Our Passion
                p
                  | Lorem ipsum reprehenderit minim in cillum exercitation labore quis velit occaecat tempor in nisi ullamco tempor.
                //
                   <a href="#" class="frr_readmore">Details →</a> 
          .col-lg-4.col-md-12.col-sm-12.frr_fade
            .frr-three-item.like
              .happily-item-content
                h4.frr-three-title Happy Customers
                p
                  | Lorem ipsum reprehenderit minim in cillum exercitation labore quis velit occaecat tempor in nisi ullamco tempor.
                //
                   <a href="#" class="frr_readmore">Details →</a> 
    section#coca-ignore.white
      #coca-ignore-wrap.container
        .row
          .ignore-item.col-lg-4.col-md-6.col-sm-12.frr_fade.float
            .ignore-item-wrap.monitor
              .ignore-item-content
                article#post-76.post.type-post
                  header.entry-header
                    h3.entry-title
                      a(rel='bookmark', href='#') Web Design
                  .entry-excerpt
                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..
          .ignore-item.col-lg-4.col-md-6.col-sm-12.frr_fade.float
            .ignore-item-wrap.network
              .ignore-item-content
                article#post-77.post.type-post
                  header.entry-header
                    h3.entry-title
                      a(rel='bookmark', href='#') Web Development
                  .entry-excerpt
                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..
          .ignore-item.col-lg-4.col-md-6.col-sm-12.frr_fade.float
            .ignore-item-wrap.pen
              .ignore-item-content
                article#post-78.post.type-post
                  header.entry-header
                    h3.entry-title
                      a(rel='bookmark', href='#') Graphic Design
                  .entry-excerpt
                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..
          .ignore-item.col-lg-4.col-md-6.col-sm-12.frr_fade.float
            .ignore-item-wrap.paper-plane
              .ignore-item-content
                article#post-79.post.type-post
                  header.entry-header
                    h3.entry-title
                      a(rel='bookmark', href='#') Internet Marketing
                  .entry-excerpt
                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..
          .ignore-item.col-lg-4.col-md-6.col-sm-12.frr_fade.float
            .ignore-item-wrap.box2
              .ignore-item-content
                article#post-80.post.type-post
                  header.entry-header
                    h3.entry-title
                      a(rel='bookmark', href='#') App Development
                  .entry-excerpt
                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..
    section#start-trial.green
      #colored-bg-wrap.container
        .row
          .col-lg-12.col-md-12.col-sm-12
            h3.section-whtitle.left-effect
              | Do you want to hear more from us?
            p.right-effect Feel free to get in touch!
            a.frr-button-white.frr_fade(href='#') Get a quote
    section#coca-notebook.bortb
      #frr-screen-wrap.container
        .row
          #screen-images.col-lg-7.col-md-12.col-sm-12.left-effect
            img(alt='notebook', title='Notebook', src='assets/images/forrest-screens.png')
          #screen-content.col-lg-5.col-md-12.col-sm-12.right-effect
            article#post-85.post.type-post
              header.entry-header
                h3.entry-title
                  a(rel='bookmark', href='#') People choose Forrest for a reason.
              .entry-excerpt
                | Want to know what they say about us?
                br
                | It's secret but... scroll down a little.
                a.frr-button-green(href='#') Contact us


    ////Included LayerSlider 
    script(src='assets/js/jquery-easing-1.3.js')
    script(src='assets/js/greensock.js')
    script(src='assets/js/layerslider.kreaturamedia.jquery.js')
    script(src='assets/js/layerslider-animate.js')
    script(src='assets/js/custom.js')

